---
import RowIcon from '@assets/icons/RowIcon.astro'
import Tags from '@components/general/Tags.astro'
import StarIcon from '@assets/icons/StarIcon.astro'

const { name, description, topics, html_url, stargazers_count, icon } =
  Astro.props
---

<article class='border-[1px] border-base-300 rounded-md p-3 grid gap-1'>
  <header class='flex justify-between items-center'>
    <a
      href={html_url}
      target='_blank'
      rel='noopener noreferrer'
      class='group flex gap-1 font-medium items-center hover:underline decoration-dotted underline-offset-4'
    >
      <span class='lowercase'>{name}</span>
      <RowIcon
        width='12'
        styles='-rotate-45 group-hover:scale-125 transition-transform duration-200'
      />
    </a>

    <div class='flex gap-2 items-center group'>
      <StarIcon width='14' height='14' styles='group-hover:text-yellow-500' />
      <span class='text-sm'>{stargazers_count}</span>
    </div>
  </header>

  <main class='flex items-center text-sm text-pretty'>
    <p>
      {description ? description : '💔 No description provided'}
    </p>
  </main>

  <footer class='flex gap-1 flex-wrap cursor-context-menu'>
    {icon && <Tags>{icon}</Tags>}
    {topics.map((topic: string) => <Tags>{topic}</Tags>)}
  </footer>
</article>
