---
import RowIcon from '@assets/icons/RowIcon.astro'

import type { FeaturedProject } from '@types/featuredProjects'

import Tags from '@components/general/Tags.astro'
import { Image } from 'astro:assets'
import imageNotFound from '@assets/not_found.png'

interface Props extends FeaturedProject {}

const {
  title,
  description,
  url,
  icon_technology: Icon,
  url_technology,
  tags,
  logo,
  image,
} = Astro.props
---

<article
  class='article-featured-projects relative rounded-md border-[1px] border-amber-400 p-4 grid gap-2 overflow-hidden'
>
  <section class='flex flex-col z-20 gap-3'>
    <section class='border border-base-300 overflow-hidden rounded-md'>
      <a href={url} target='_blank' rel='noopener noreferrer'>
        <Image
          src={image ?? imageNotFound}
          alt={title}
          width={600}
          height={600}
          class='w-full h-full object-cover hover:scale-105 transition-transform'
        />
      </a>
    </section>

    <section class='flex items-center gap-3'>
      <div class='size-6 overflow-hidden bg-slate-200 p-0.5 rounded-xs'>
        <img src={logo} alt={title} class='w-full h-full object-cover' />
      </div>
      <a
        href={url}
        target='_blank'
        rel='noopener noreferrer'
        class='group flex gap-1 text-lg font-medium items-center hover:underline decoration-dotted underline-offset-4 hover:text-amber-400 text-primary-content transition-colors'
      >
        <span class='lowercase'>{title}</span>
        <RowIcon
          width='12'
          styles='-rotate-45 group-hover:scale-125 transition-transform duration-200'
        />
      </a>
    </section>
  </section>

  <main
    class='flex items-center text-sm text-pretty tracking-tight text-primary z-20'
  >
    <p>{description}</p>
  </main>

  <footer class='flex gap-3 items-center z-20'>
    <a href={url_technology} target='_blank' rel='noopener noreferrer'>
      <Icon width='18' height='18' />
    </a>
    <div class='flex gap-1 flex-wrap cursor-context-menu'>
      {tags.map((name: string) => <Tags>{name}</Tags>)}
    </div>
  </footer>

  <div class='circle-shadow'></div>
</article>

<style>
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .article-featured-projects {
    --card-bg: var(--color-base-100);
  }

  .article-featured-projects::after {
    content: '';
    position: absolute;
    z-index: 0;
    inset: 1px;
    background: var(--card-bg);
    border-radius: 0.31rem;
  }

  .article-featured-projects::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: conic-gradient(
      from 0deg,
      transparent 0%,
      transparent 75%,
      #daa520 90%,
      transparent 100%
    );
    animation: rotate 4s linear infinite;
  }

  .circle-shadow {
    background: radial-gradient(
      circle,
      rgba(218, 165, 32, 0.15) 0%,
      rgba(218, 165, 32, 0.1) 20%,
      rgba(218, 165, 32, 0) 60%
    );
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
</style>

<script>
  const articles = document.querySelectorAll(
    '.article-featured-projects'
  ) as NodeListOf<HTMLElement>

  articles.forEach(el => {
    el.addEventListener('mouseover', e => {
      const circleShadow = el.querySelector('.circle-shadow') as HTMLDivElement
      circleShadow.style.opacity = '1'
    })

    el.addEventListener('mouseout', e => {
      const circleShadow = el.querySelector('.circle-shadow') as HTMLDivElement
      circleShadow.style.opacity = '0'
    })

    el.addEventListener('mousemove', e => {
      const circleShadow = el.querySelector('.circle-shadow') as HTMLDivElement
      // Usamos e.offsetX/offsetY para un cálculo más preciso dentro del elemento
      const rect = el.getBoundingClientRect()
      const x = e.clientX - rect.left
      const y = e.clientY - rect.top
      circleShadow.style.left = `${x - 300}px`
      circleShadow.style.top = `${y - 300}px`
    })
  })
</script>
